src/main/app/order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="retrieveOrdersFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" doc:name="HTTP"/>
        <flow-ref name="retrieveOrdersSubFlow" doc:name="retrieveOrdersSubFlow"/>
        <flow-ref name="processOrdersSubFlow" doc:name="processOrdersSubFlow"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <sub-flow name="retrieveOrdersSubFlow">
        <set-variable variableName="dateRange" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="Set dateRange"/>
        <dw:transform-message doc:name="Create SOAP Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.dateRange as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Call Orders WS"/>
        <dw:transform-message doc:name="Transform SOAP Response" metadata:id="4c71c677-4656-4b3a-a91e-2fc35d69bfef">
            <dw:input-payload doc:sample="sample_data\provisionOrderResponse_1.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
    <sub-flow name="processOrdersSubFlow">
        <set-variable variableName="orders" value="#[message.payload]" doc:name="Store order in variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload/>
            <dw:input-variable doc:sample="sample_data\UserDefined.dwl" variableName="orders"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	international: flowVars.orders filter $.location == 'international',
	domestic: flowVars.orders filter $.location == 'domestic'
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
</mule>
